<!-- sidebar.component.html -->

<div class="sidebar" [class.collapsed]="isCollapsed()">
  <div class="sidebar-header">
    <button (click)="toggleSidebar()" class="toggle-btn">
      {{ isCollapsed() ? "View" : "←" }}
    </button>
  </div>

  <!-- Sidebar content -->
  @if (!isCollapsed()) {
  <div class="sidebar-content">
    <ul>
      <li>
        <button class="popular-btn" (click)="popularClickHandler()">
          Popular
        </button>
      </li>
      <li><button class="favorites-btn" (click)="favoriteClickHandler()">Favorites</button></li>
      <li><button class="watchlist-btn" >Watchlist</button></li>
    </ul>
  </div>
  }
</div>
