.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/images/dvdStack.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 120px;
  padding: 10px;
  transition: width 0.3s ease;
  z-index: 10;
}

.sidebar.collapsed {
  width: 50px;
  background: none;
  height: 10px;
  
}

button{
  padding: .5em;
  margin: 2px;
  width: 100%;
}

button:hover{
  transform: scale(1.05);  
}

.sidebar-content{
  height: 100%;
}