<div
    class="card"
    style="background-image: url('https://image.tmdb.org/t/p/w500{{movie()?.poster_path}}');"
    
  >
    <button (click)="cardClickHandler()">MovieDetails</button>
    <app-movie-details [style.display]="isComponentVisible() ? 'block' : 'none' " [movie]="movie()" (close)="hideComponent()"/>

    <div class="button-container">
      <p>{{ movie()?.title }}</p>
      
      
      <span><button (click)="toggleFavorite()" [style.background-color]="isFav() ? 'green' : 'red'">
        {{isFav()? 'Add Favorite' : 'Remove Favorite'}}
      </button> </span>
      
      
      <span>
        <button class="add-to-watchlist-btn">+ Watchlist</button>
      </span>
      
    </div>
  </div>